#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {display: grid;  
           grid-template-areas: "persona hobbies comida"
                                 ". sotck .";
                                gap: 20px;
                                
            
}

.container div {height: 200px;width: 300px;border: 10px solid white;color: black;font-weight: 500;
display: flex;
align-items: flex-start;justify-content: center;
}
.container div ul { 
  padding: 0;
  list-style: none;
  
}


.container div:nth-child(1){grid-area: persona; background-color: rgb(50, 182, 205);}
.container div:nth-child(2){grid-area: hobbies;background-color: pink;}
.container div:nth-child(3){grid-area: comida;background-color: gray;}
.container div:nth-child(4){grid-area: sotck;background-color: bisque;}

